/* section */
section {
	width: 100%;
	padding: 50px 0px;
}
section .inner {
	width: 1180px;
	margin: 0px auto;

	display: flex;
	justify-content: left;
}

section .inner .side{
    width: 380px;
    height: 600px;
    padding: 10px;
}
section .inner .side .notice-flower  h1{
	text-align: center;
}

section form .location_txt{
    width: 100%;
	margin-top: 100px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 10px;

    font-size: 30px;
    font-weight: bold;
}

section form .post{
    width: 100%;
	margin-top: 100px;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 10px;

    font-size: 30px;
    font-weight: bold;
}


/* 커스텀 드롭다운 메뉴 컨테이너 */
.dropdown-container{
	width: 100%;
	display: flex;
	align-items: center;
}
.dropdown-container form{
	width: 100%;
}

select {
	width: 200px;
    height: 50px;
    background-color: #FFF7D4; /* 꿀 색상 */
    color: #4C3D3D;
	font-weight: bold;
	font-size: large;

    cursor: pointer;
	border: 3px solid #4C3D3D;
    border-radius: 10px; /* 버튼 모서리 둥글게 */
}

  