@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	color: #4C3D3D;
	font-family: "arial";
}
body{
	background-color: #FFF7D4;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}