@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;

	color: #4C3D3D;
	font-family: "arial";

	cursor: url('img/honeybee.png') 32 32, auto;
}


body{
	/* background-color: #FFF7D4; */
    background-image: url('img/honeycomb-pattern.jpg');
    background-size: cover;
}
ul,
ol {
	list-style: none;
}
a {
	text-decoration: none;
}

/* header */
header {
	width: 100%;
	border-bottom: 3px solid #4C3D3D;
}
header .inner {
	width: 1180px;
	height: 200px;
	margin: 0px auto;
	position: relative; /*자식 absolute 요소의 기준점 설정*/
}
header .inner h1 {
	position: absolute;
	left: 0px;
	bottom: 50px;
	font-size: 50px;
}

header .inner #gnb {
	position: absolute;
	bottom: 0px;
	right: 0px;
}
header .inner #gnb li {
	float: left;
}
header .inner #gnb li a {
	display: block; /*인라인 요소는 block설정하여 크기를 조절가능*/
	font: bold 30px/1 "arial";
	padding: 20px 40px;
	transition: all 0.5s;
}
header .inner #gnb li a:hover {
	background: #4C3D3D;
	color: #FFF7D4;
}

.honey-btn {
	width: 150px;
    height: 50px;
    background-color: rgb(255, 217, 90); /* 꿀 색상 */
    color: #4C3D3D;
	font-weight: bold;
	font-size: large;

    cursor: pointer;
	border: 3px solid #4C3D3D;
    border-radius: 10px; /* 버튼 모서리 둥글게 */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
    transition: background-color 0.3s, transform 0.2s;
  }

  /* 버튼 호버 효과 */
  .honey-btn:hover {
    background-color: #f6ff7e; /* 호버 시 더 밝은 꿀 색상 */
    transform: translateY(-5px); /* 위로 약간 이동하여 눌린 효과 */
  }

  /* 애니메이션 키 프레임 */
  @keyframes honeyAnimation {
    0% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
  }

  /* 버튼 클릭 효과 */
  .honey-btn:active {
    animation: honeyAnimation 0.3s ease; /* 클릭 시 애니메이션 적용 */
  }


  input{
	width: 100%;
	background-color: #FFF7D4;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #4C3D3D;
    border-radius: 4px;
	font-size: large;
	font-weight: bold;
}

/* 
#FFF7D4 rgb(255, 247, 212)

#FFD95A rgb(255, 217, 90)

#C07F00 rgb(192, 127, 0)

#4C3D3D rgb(76, 61, 61) */