/* section */
section {
	width: 100%;
	padding: 50px 0px;
}
section .inner {
	width: 1180px;
	margin: 0px auto;

	display: flex;
	justify-content: center;
	align-items: center;
}


.hexagon-container {
	display: flex;
	gap: 100px; /* 두 육각형 사이의 간격 */
	animation: floating 1s infinite alternate ease-in-out;
}
@keyframes floating {
	0% {
	  transform: translateY(0);
	}
	100% {
	  transform: translateY(-10px); /* 떠다니는 높이 조절 */
	}
  }
.hexagon {
	width: 400px;
	height: 230.94px; /* 400 * sqrt(3)/2 */
	background-color: #DE9300;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box; /* padding과 border를 포함한 크기 계산 */
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.hexagon:before,
.hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 200px solid transparent; /* 400 / 2 */
	border-right: 200px solid transparent; /* 400 / 2 */
	
}
.hexagon:before {
	bottom: 100%;
	border-bottom: 115.47px solid #C07F00; /* 230.94 / 2 */
}
.hexagon:after {
	top: 100%;
	border-top: 115.47px solid #C07F00; /* 230.94 / 2 */
}

.inner-hexagon {
	width: 300px; /* 크기 조정 */
	height: 173.21px; /* 300 * sqrt(3)/2 */
	background-color: #FFAF02;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box; /* padding과 border를 포함한 크기 계산 */
	text-align: center;
	font-size: 90px;
}
.inner-hexagon:before,
.inner-hexagon:after {
	content: "";
	position: absolute;
	width: 0;
	border-left: 150px solid transparent; /* 300 / 2 */
	border-right: 150px solid transparent; /* 300 / 2 */
}
.inner-hexagon:before {
	bottom: 100%;
	border-bottom: 86.60px solid #FFD95A; /* 173.21 / 2 */
}
.inner-hexagon:after {
	top: 100%;
	width: 0;
	border-top: 86.60px solid #FFD95A; /* 173.21 / 2 */
	z-index: 9999;
}

section .inner a {
	margin-left: 70px;
	margin-right: 70px;
	margin-top: 120px;
}
