section{
    display: flex;
    width: 500px;
    height: 450px;
    padding: 30px;

    background-color: rgb(255, 247, 212, 0.3);
    margin: 50px auto;
	margin-top: 200px;
    box-shadow: 10px 10px 30px #4c3d3d73;
    border-radius: 10px;
    border-width: 10px;
	border: solid;
	border-color: #4C3D3D;
    
}
section form{
	width: 100%;
}
section form .login_txt{
    width: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 10px;

    font-size: 30px;
    font-weight: bold;
}

section form .login_btn{
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	padding: 30px;
}
section form .alert-danger{
	color: red;
	font-weight: bold;
	text-align: center;
}
