<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeBeeKeepingGreen</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/HomeScreenStyle.css}">
</head>
<body>
    <header>
        <div class="inner">
            <h1><a th:href="@{/}">BeBee<br>KeepingGreen</a></h1>

            <ul id="gnb">
                <li><a href="LoginForm.html">Login</a></li>
                <li><a th:href="@{/user/register}">Register</a></li>
            </ul>
        </div>
    </header>

    <section>
        <div class="inner">
            <div class="wrap box1">
                <a href="RecordingArea.html">기록</a>
            </div>
            <div class="wrap box2">
                <a href="MapScreen.html">지도</a>
            </div>
        </div>
    </section>
</body>
</html>