<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BeeMap</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/MapScreenStyle.css}">
</head>
<body>
<header>
    <div class="inner">
        <h1><a th:href="@{/}">BeBee<br>KeepingGreen</a></h1>

        <ul id="gnb">
            <li>
                <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
                <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
            </li>
            <li><a th:href="@{/user/register}">Register</a></li>
        </ul>
    </div>
</header>

    <section>
        <div class="inner">
            <div id="map" style="width:800px;height:600px;"></div>
            
            <div class="side">
                <div class="notice-flower">
                    <h1 th:if="${density >= 2}">주변에 꽃이 많습니다!</h1>
                    <h1 th:if="${density == 1}">주변에 꽃이 적습니다!</h1>
                    <h1 th:if="${density == 0}">주변에 꽃이 없습니다!</h1>
                    <!-- <h1 th:text="${density}"></h1> -->

                </div>
                <form id="mappost" th:action="@{/map/show}" th:object="${plantForm}" method="post" onsubmit="return checkAndSubmit()">
                    <div class="location_txt">
                        <h6>밀원식물위치를 입력하고 등록하세요</h6>
                        <input type="text" value="" id="keyword" size="15" name="plantLocation"> 
                        <button type="button" class="location_btn" onclick="searchPlaces()">검색</button>
                        <input type="hidden" id="xCoordinate" name="xCoordinate" value="0">
                        <input type="hidden" id="yCoordinate" name="yCoordinate" value="0">
                    </div>
                    <div class="post">
                        <button type="submit" class="post_btn">
                            위치 등록 요청
                        </button>
                    </div>
                </form>

                <!-- 드롭다운메뉴 -->
                <div th:if="${isAdmin == 1}" class="dropdown">
                    <form id="selectedLocationForm" th:action="@{/map/show/ack}" th:object="${plantForm}" method="post" onsubmit="return submitSelectedLocation()">
                        
                        <select id="waitingListDropdown" name="id">
                            <option th:each="item : ${waiting_list}" 
                                    th:value="${item.id}" 
                                    th:text="${item.plantLocation}">
                            </option>
                        </select>
                        <!-- 선택한 메뉴의 값을 서버에 전송하는 버튼 -->
                        <button type="submit">선택한 위치 전송</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=2ab27629cdb25f4ce513e1e57c99da3d&libraries=services"></script>

    <script th:inline="javascript">
        document.getElementById('mappost').addEventListener('keypress', function(event) {
            if (event.key === 'Enter') {
                event.preventDefault();
            }
        })

        var ps = new kakao.maps.services.Places();
        var container = document.getElementById('map'); //지도를 담을 영역의 DOM 레퍼런스
        options = { //지도를 생성할 때 필요한 기본 옵션
            center: new kakao.maps.LatLng(35.83186130932451, 128.7585415756756), //지도의 중심좌표.
            level: 3 //지도의 레벨(확대, 축소 정도)
        };

        var map = new kakao.maps.Map(container, options); //지도 생성 및 객체 리턴

        // 마커 이미지의 이미지 주소입니다
        // var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";
        var plantImageSrc = "https://cdn4.iconfinder.com/data/icons/the-weather-is-nice-today/64/weather_47-64.png";
        var hiveImageSrc = "https://cdn1.iconfinder.com/data/icons/nature-farming-and-ecology/135/43-64.png";

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(40, 40); 
    
         // 마커 이미지를 생성합니다    
        var plantMarkerImage = new kakao.maps.MarkerImage(plantImageSrc, imageSize);
        var hiveMarkerImage = new kakao.maps.MarkerImage(hiveImageSrc, imageSize);

        // 0이면 실행 1이면 더이상 원그리기 x
        var c = 0;

        window.onload = function() {
            initMapShow();
        };
        function initMapShow(){
            var locationText = /*[[${location}]]*/ '영남대학교';
            ps.keywordSearch( locationText, placesSearchCB);

            var plantList = /*[[${plant_list}]]*/ '[]';
            var userList = /*[[${userList}]]*/ '[]';
            
            console.log(plantList);
            console.log(userList);
            plantList.forEach(plant => {
                let coords = new kakao.maps.LatLng(plant.y, plant.x);

                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    title : '밀원식물', // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image : plantMarkerImage // 마커 이미지 
                });
                console.log(plant.plantLocation);
                console.log(plant.x); // 객체의 속성에 직접 접근
                console.log(plant.y); // 객체의 속성에 직접 접근
            });

            userList.forEach(user => {
                let coords = new kakao.maps.LatLng(user.y, user.x);

                let marker = new kakao.maps.Marker({
                    map: map,
                    position: coords,
                    title : '양봉위치', // 마커의 타이틀, 마커에 마우스를 올리면 타이틀이 표시됩니다
                    image : hiveMarkerImage // 마커 이미지 
                });
                // console.log(user.plantLocation);
                console.log(user.x); // 객체의 속성에 직접 접근
                console.log(user.y); // 객체의 속성에 직접 접근
            });
           
        }

        // 키워드 검색을 요청하는 함수입니다
        function searchPlaces() {
            var keyword = document.getElementById('keyword').value;
            // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
            ps.keywordSearch( keyword, placesSearchCB); 
        }

        // 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
        function placesSearchCB(data, status) {
            if (status === kakao.maps.services.Status.OK) {
                var coords = new kakao.maps.LatLng(data[0].y, data[0].x);

                console.log(data[0].address_name);
                console.log(data[0].y+""+data[0].x);
                // 결과값으로 받은 위치를 마커로 표시합니다
                var marker = new kakao.maps.Marker({
                    map: map,
                    position: coords
                });
                map.setCenter(coords);

                // 맵에 그릴 반경 3km원
                var circle = new kakao.maps.Circle({
                    center : coords,  // 원의 중심좌표 입니다 
                    radius: 3000, // 미터 단위의 원의 반지름입니다 
                    strokeWeight: 5, // 선의 두께입니다 
                    strokeColor: '#75B8FA', // 선의 색깔입니다
                    strokeOpacity: 1, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다 
                }); 
                if(c == 0){
                    circle.setMap(map);
                    c = 1;
                }

                // 좌표 서버에 전송
                document.getElementById("keyword").value = data[0].address_name;
                // Assign coordinates to hidden fields
                document.getElementById("xCoordinate").value = data[0].x;
                document.getElementById("yCoordinate").value = data[0].y;

            } else if (status === kakao.maps.services.Status.ZERO_RESULT) {

                alert('검색 결과가 존재하지 않습니다.');
                return;

            } else if (status === kakao.maps.services.Status.ERROR) {

                alert('검색 결과 중 오류가 발생했습니다.');
                return;

            }
        }
        
    </script>

    <script>
        // 저장 버튼 클릭 시 실행되는 함수
        function checkAndSubmit() {
        // textarea의 내용을 가져옴
            var location = document.querySelector('input[name="plantLocation"]').value;
            console.log(location);
        // 내용이 비어 있는지 확인
            if (!location.trim()) {
            // 내용이 비어 있다면 사용자에게 경고 메시지를 표시
                alert("위치를 입력해주세요.");
                return false; // 폼 전송을 막음
            }
            return true; // 폼을 제출
        }

        // 선택한 메뉴의 값을 서버에 전송하는 함수
        function submitSelectedLocation() {
            // 선택한 메뉴의 값을 가져옴
            var selectedLocation = document.getElementById('waitingListDropdown').value;
            // 선택한 메뉴의 값을 서버로 전송 (여기서는 간단히 콘솔에 출력)
            console.log('선택한 위치:', selectedLocation);
            // 이후에 선택한 위치를 서버로 전송하는 코드를 추가하세요 (예: Ajax를 사용하여 서버에 전송)
            if (!selectedLocation.trim()) {
                // 내용이 비어 있다면 사용자에게 경고 메시지를 표시
                alert("전송할 위치가 없습니다!");
                return false; // 폼 전송을 막음
            }
            return true;
        }
    </script>
</body>
</html>

<!-- data객체 -->
<!-- [
    {
        "address_name": "서울 동작구 사당동 134-1",
        "category_group_code": "AT4",
        "category_group_name": "관광명소",
        "category_name": "여행 > 관광,명소 > 테마거리 > 먹자골목",
        "distance": "",
        "id": "2119575152",
        "phone": "",
        "place_name": "이수역꼬치거리",
        "place_url": "http://place.map.kakao.com/2119575152",
        "road_address_name": "",
        "x": "126.981953967038",
        "y": "37.4872392486403"
    },

   {

         ... 

   }

] -->