<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording</title>
    <link rel="stylesheet" th:href="@{/css/DefaultStyle.css}">
    <link rel="stylesheet" th:href="@{/css/RecordingAreaStyle.css}">
    <link rel="stylesheet" th:href="@{/css/honey.css}">

</head>
<body>
    <header>
        <canvas id="gooey-canvas"></canvas>
        <svg id="gooey-overlay" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="6">
            <g class="balls">
            </g>
        </svg>

        <div class="inner">
            <h1><a th:href="@{/}">BeBee<br>KeepingGreen</a></h1>
            <canvas class="scene"></canvas>
            <ul id="gnb">
                <li>
                    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
                </li>
                <li><a th:href="@{/user/register}">Register</a></li>
            </ul>
        </div>
    </header>

    <section>
        <div class="inner">
            <form th:action="@{/record/list}" th:object="${recordForm}" method="post">
                <div id="input-container">
                    <div th:each="hiveRecord, iterStat : ${hiveRecordList}">
                        <div class="input-box">
                            <article th:text="${hiveRecord.content}"></article>
                            
                            <a href="javascript:void(0);" th:data-uri="@{|/record/list/delete/${hiveRecord.id}|}"  
                            class="delete_box" th:text="삭제">삭제</a>
                        </div>
                    </div>
                    <div class="input-box">
                        <textarea name="content"></textarea>
                        <button class="honey-btn" id="store">저장</button>
                    </div>
                </div>
                
            </form>
        </div>
    </section>

    <script>
        const delete_elements = document.getElementsByClassName("delete_box");
        Array.from(delete_elements).forEach(function(element) {
            element.addEventListener('click', function(event) {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    // 삭제를 확인한 경우, 해당 링크로 이동
                    location.href = this.dataset.uri;
                } else {
                    // 삭제를 취소한 경우, 기본 동작(링크 이동) 막기
                    event.preventDefault();
                }
            });
        });

        // 저장 버튼 클릭 시 실행되는 함수
        function checkAndSubmit() {
        // textarea의 내용을 가져옴
            var content = document.querySelector('textarea[name="content"]').value;
        // 내용이 비어 있는지 확인
            if (!content.trim()) {
            // 내용이 비어 있다면 사용자에게 경고 메시지를 표시
                alert("내용을 입력해주세요.");
                return false; // 폼 전송을 막음
            }
            return true; // 폼을 제출
        }

        // 저장 버튼 클릭 이벤트에 checkAndSubmit() 함수를 연결
        document.getElementById('store').addEventListener('click', function(event) {
            // checkAndSubmit() 함수 실행
            if (!checkAndSubmit()) {
                // checkAndSubmit() 함수가 false를 반환하면, 기본 동작(폼 제출)을 막음
                event.preventDefault();
            }
        });

    </script>

<script src='https://unpkg.com/zdog@1/dist/zdog.dist.min.js'></script>
<script th:src="@{/js/honeybee.js}"></script>

<script type="x-shader/x-fragment" id="vertShader">
    precision mediump float;

    varying vec2 vUv;
    attribute vec2 a_position;

    void main() {
        vUv = .5 * (a_position + 1.);
        gl_Position = vec4(a_position, 0., 1.);
    }
</script>

<script type="x-shader/x-fragment" id="fragShader">
    precision mediump float;

    varying vec2 vUv;
    uniform float u_time;
    uniform float u_ratio;
    uniform float u_max_y;
    uniform vec2 u_pointer;
    uniform float u_click_t;
    uniform vec3 u_drops_pos_x;
    uniform vec3 u_drops_pos_y;

    vec3 permute(vec3 x) { return mod(((x*34.0)+1.0)*x, 289.0); }
    float snoise(vec2 v){
        const vec4 C = vec4(0.211324865405187, 0.366025403784439,
        -0.577350269189626, 0.024390243902439);
        vec2 i = floor(v + dot(v, C.yy));
        vec2 x0 = v - i + dot(i, C.xx);
        vec2 i1;
        i1 = (x0.x > x0.y) ? vec2(1.0, 0.0) : vec2(0.0, 1.0);
        vec4 x12 = x0.xyxy + C.xxzz;
        x12.xy -= i1;
        i = mod(i, 289.0);
        vec3 p = permute(permute(i.y + vec3(0.0, i1.y, 1.0))
        + i.x + vec3(0.0, i1.x, 1.0));
        vec3 m = max(0.5 - vec3(dot(x0, x0), dot(x12.xy, x12.xy),
        dot(x12.zw, x12.zw)), 0.0);
        m = m*m;
        m = m*m;
        vec3 x = 2.0 * fract(p * C.www) - 1.0;
        vec3 h = abs(x) - 0.5;
        vec3 ox = floor(x + 0.5);
        vec3 a0 = x - ox;
        m *= 1.79284291400159 - 0.85373472095314 * (a0*a0 + h*h);
        vec3 g;
        g.x = a0.x * x0.x + h.x * x0.y;
        g.yz = a0.yz * x12.xz + h.yz * x12.yw;
        return 130.0 * dot(m, g);
    }

    float get_point_shape(vec2 uv, vec2 pos) {
        float width = 1.9 * (u_drops_pos_x[2] - u_drops_pos_x[0]) / 3.;

        float point_uv_y = (1. / pos.y - (1. / pos.y) * (uv.y - .05));

        vec2 dist = vec2(uv.x * u_ratio, uv.y) - vec2(pos.x * u_ratio, 1. - pos.y);
        float l = length(dist);
        l = max(0., l);
        l /= u_max_y;
        l *= u_ratio;
        width += .1 * pow(l, -.7);

        float c = smoothstep(pos.x - .5 * width, pos.x, uv.x);
        c *= smoothstep(pos.x + .5 * width, pos.x, uv.x);
        c *= smoothstep(1. - pos.y - .5 * u_ratio * width, 1. - pos.y, uv.y);

        c = pow(c, 10.);

        return c;
    }


    void main() {
        vec2 uv = vUv;
        uv.y -= .03;

        float noise_speed = .25;
        float width = .2;
        float shape = 0.;

        float mid_shape = smoothstep(0. - .7 * width, u_drops_pos_x[1] - u_drops_pos_x[0], uv.x - u_drops_pos_x[0]) - smoothstep(u_drops_pos_x[1], u_drops_pos_x[2] + .5 * width, uv.x);
        mid_shape = pow(mid_shape, 1.5);
        mid_shape *= 2.6 * (1. - (1. - uv.y) / max(u_drops_pos_y[0], max(u_drops_pos_y[1], u_drops_pos_x[2])));

        float top_shape = (1. - (1. - uv.y) / u_max_y);
        top_shape = pow(top_shape, 3.);
        vec2 noise_uv = uv;
        noise_uv.x /= width;
        noise_uv.x *= .7;
        noise_uv.y += noise_speed * u_time;
        float noise = snoise(noise_uv);
        top_shape -= .2 * noise;

        noise_uv.x *= .1;
        noise = snoise(noise_uv);
        top_shape -= .2 * noise;

        shape += .5 * mid_shape;
        shape += top_shape;
        shape = 5. * pow(shape, 7.);

        for (int i = 0; i < 3; i++) {
            float column = get_point_shape(vUv, vec2(u_drops_pos_x[i], u_drops_pos_y[i]));
            shape += column;
        }

        float border_limit = 0.56;
        float border = smoothstep(border_limit+0.1, border_limit + 0.5, shape-0.0);

        shape = clamp(shape, 0.0, 1.0);
        shape = pow(shape, 7.0);

        vec3 goldenOrange = vec3(0.96, 0.75, 0.03); // 황금빛 오렌지색
        vec3 white = vec3(1.0,1.0,1.0); // 투명한 흰색

        vec3 color = mix(goldenOrange, white, (0.1) );

        color *= shape;

        gl_FragColor = vec4(color, border);
    }
</script>
<!-- partial -->
  <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
  <script th:src="@{/js/honey.js}"></script>
</body>
</html>