<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording</title>
    <link rel="stylesheet" th:href="@{/css/RecordingAreaStyle.css}">
</head>
<body>
    <header>
        <div class="inner">
            <h1><a th:href="@{/}">BeBee<br>KeepingGreen</a></h1>

            <ul id="gnb">
                <li>
                    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
                </li>
                <li><a th:href="@{/user/register}">Register</a></li>
            </ul>
        </div>
    </header>

    <section>
        <div class="inner">
            <form th:action="@{/record/list}" th:object="${recordForm}" method="post">
                <div id="input-container">
                    <!-- 박스 생성 로직 -->
                    <div th:each="hiveRecord, iterStat : ${hiveRecordList}">
                        <div class="input-box" th:text="${hiveRecord.content}"></div>
                    </div>
                    <div class="adding-btn" onclick="addInput()">+</div>
                </div>
                
                <!-- 에러 메시지 표시 로직 -->
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </div>
                
            </form>
        </div>
    </section>

    <script>
        function addInput() {
            const container = document.getElementById('input-container');
            const div = document.createElement('div');
            div.className = 'input-box';

            const input = document.createElement('textarea');
            input.name = 'content';
            input.id = 'content';
            div.appendChild(input);
            const post_btn = document.createElement('button');
            post_btn.textContent = "저장";
            div.appendChild(post_btn);

            const delete_btn = document.createElement('button')
            delete_btn.textContent = '삭제'

            delete_btn.onclick = function(){
                container.removeChild(div)
            }
            div.appendChild(delete_btn)

            container.appendChild(div);
        }
    </script>
</body>
</html>