<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recording</title>
    <link rel="stylesheet" th:href="@{/css/RecordingAreaStyle.css}">
</head>
<body>
    <header>
        <div class="inner">
            <h1><a th:href="@{/}">BeBee<br>KeepingGreen</a></h1>

            <ul id="gnb">
                <li>
                    <a sec:authorize="isAnonymous()" th:href="@{/user/login}">Login</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">Logout</a>
                </li>
                <li><a th:href="@{/user/register}">Register</a></li>
            </ul>
        </div>
    </header>

    <section>
        <div class="inner">
            <form th:action="@{/record/list}" th:object="${recordForm}" method="post">
                <div id="input-container">
                    <div th:each="hiveRecord, iterStat : ${hiveRecordList}">
                        <div class="input-box">
                            <article th:text="${hiveRecord.content}"></article>
                            
                            <button>삭제</button>
                        </div>
                    </div>
                    <div class="input-box">
                        <textarea name="content"></textarea>
                        <button>저장</button>
                    </div>
                </div>
                
                <!-- 에러 메시지 표시 로직 -->
                <div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
                    <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
                </div>
                
            </form>
        </div>
    </section>

    <script>
        function delete_box(element){
            var inputBox = element.closest('.input-box');
            inputBox.style.display = 'none';
        }

    </script>
</body>
</html>